.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inria-sans-light-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inria-sans-regular-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-bold-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

  
body {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 

/* Header section styling */
header {
  background-color: #fffaba;
  padding: 1rem 2vw;
}

header h1 { 
  margin: 0;
  color: #161a19;
  letter-spacing: .5px;
  font-weight: 800;
  font-size: 2.1rem;

}

/* Nav section styling */

nav {
  background-color:#a2ceeb;
}

nav ul {
  list-style-type: none;
  padding: 0 1vw; 
  margin: 0;
  display: flex;

}

nav a {
  font-size: 1rem;
  text-decoration: none;
  color:#161a19;
  font-weight: 710;
  display: block;
  padding: .82rem 1rem;
}

/* Anchor element styling */

nav a:hover {
  color: whitesmoke;
}

/* Main styling */
 
main {
  padding: 1rem 1.5vw;
}

main h1 {
  color: #5c87a9;
}

main h2 {
  color:#161a19;
  margin-bottom: 1rem;
}

main p {
  color:black;
  margin: 1rem;
}

main ol {
  padding: .5rem 30px;
  background-color: #cddfec;
}

/* def term */

main dl dt {
  color: #5c87a9;
  font-weight: 850;
  padding: .5rem 1rem;
}

main dl dd {
  color: #161a19;
  font-size: 1rem;
  margin-left: 1rem;
}

main ul {
  list-style-type:circle;
}

main ul li {
  line-height: 115%;
  margin-bottom: .7rem;
  font-size: .9rem;
}

main address {
  font-style: normal;
  background-color: #a2ceeb;
  width: 12rem;
  padding: .7rem;
  border: 1px solid #161a19;
  border-radius: .7rem;
}

main a {
  color: #161a19;
  padding: .5rem 1rem;
}

main a:hover {
  color: #fffaba;
}

footer {
  background-color: #cddfec;
  text-align: center;
  color: #161a19;
  padding: 1rem 0;
  font-size: .8rem;

}